# HoGent GPT Workshop
This notebook will elaborate on how to use OpenAI's GPT-3 model and explain various use cases on how to leverage the power of a Large Language Model (LLM). We will use Python and the REST-services provided by OpenAI to expore our use case.

In [3]:
# Import all the needed libraries
import configparser, pandas as pd, os, ssl, sqlalchemy, openai
from gpt_index import SQLDatabase, LLMPredictor
from langchain import OpenAI, SQLDatabaseChain
from sqlalchemy import create_engine

# Set the API key and load the configuration file
config = configparser.ConfigParser()
config.read('config.ini')
openai.api_key = config['openai']['api_key']
os.environ['OPENAI_API_KEY'] = config['openai']['api_key']

In [3]:
# Load an sqlalchmy engine  to connect to the database
# Create the connection url
connection_string = 'postgresql+pg8000://' + config['postgres']['user'] + ':' + config['postgres']['password'] + '@' + config['postgres']['host'] + '/' + config['postgres']['database']
engine = create_engine(connection_string)

## Write SQL Queries using natural language
First, we will use GPT-3 to generate SQL statements and run them againts a database to provide answers to our questions using natural language. Implementing a solution like this can help business user without technical knowledge to run queries against there internall database.

### Example Table **belgian_names**: First names of the total population by municipality
This database is loaded with Statbel data found here: https://statbel.fgov.be/en/open-data/first-names-total-population-municipality-12

![Alt text](./img/names_table.png)

In [4]:
# Create a connection
connection = engine.connect()
# Load the table we want to query
postgres_database = SQLDatabase(connection, include_tables=["belgian_names"])
# Show the table information
postgres_database.table_info

"Table 'belgian_names' has columns: nis_code (VARCHAR(50)), city_name (VARCHAR(50)), firstname (VARCHAR(50)), frequency (INTEGER), sex (VARCHAR)."

In [5]:
# Let's initiate our model 
llm = OpenAI(temperature=0)
db_chain = SQLDatabaseChain(llm=llm, database=postgres_database, verbose=True)

In [21]:
db_chain.run('Is there a difference in average lenght between male an female names ?')

> Entering new SQLDatabaseChain chain...
Is there a difference in average lenght between male an female names ?
SQLQuery: SELECT AVG(LENGTH(firstname)) AS avg_length, sex FROM belgian_names GROUP BY sex;
SQLResult: [(Decimal('6.2237759349429328'), 'FEMALE'), (Decimal('5.8008796787083095'), 'MALE')]
Answer: Yes, there is a difference in average length between male and female names, with female names being on average 0.42 characters longer than male names.
> Finished chain.

' Yes, there is a difference in average length between male and female names, with female names being on average 0.42 characters longer than male names.'

## Generate descriptions for a list of products

In [4]:
beers = pd.read_csv('./data_files/beers.csv')

In [5]:
# Call the OpenAI completion endpoint

,Name,Brewery,Type
0,Budweiser,Anheuser-Busch,Lager
1,Coors Light,Coors Brewing Company,Light Lager
2,Miller Lite,Miller Brewing Company,Light Lager
3,Corona Extra,Grupo Modelo,Pale Lager
4,Heineken,Heineken Brewery,Pale Lager
5,Guinness Draught,Guinness,Stout
6,Samuel Adams Boston Lager,Boston Beer Company,Amber Lager
7,Stella Artois,Stella Artois Brewery,Pilsner
8,Pabst Blue Ribbon,Pabst Brewing Company,Amber Lager
9,Blue Moon Belgian White,Blue Moon Brewing Company,Belgian-style Wheat Ale
10,IPA,Various,India Pale Ale
11,Pilsner Urquell,Pilsner Urquell Brewery,Pilsner
12,Leffe Blonde,Leffe Brewery,Belgian-style Pale Ale
13,Hoegaarden,Hoegaarden Brewery,Witbier
14,Newcastle Brown Ale,Heineken,Brown Ale
15,Yuengling Traditional Lager,Yuengling Brewery,Amber Lager
16,Fat Tire Amber Ale,New Belgium Brewing,Amber Ale
17,Sierra Nevada Pale Ale,Sierra Nevada Brewing Company,Pale Ale
18,Amstel Light,Amstel Brewery,Light Lager
19,Bass Pale Ale,Bass Brewery,Pale Ale
20,Becks,Becks Brewery,Pilsner
21,Bell's Two Hearted Ale,Bell's Brewery,India Pale Ale
22,Brooklyn Lager,Brooklyn Brewery,Amber Lager
23,Lagunitas IPA,Lagunitas Brewing Company,India Pale Ale
24,Goose Island IPA,Goose Island Brewery,India Pale Ale
25,Dogfish Head 60 Minute IPA,Dogfish Head Brewery,India Pale Ale
26,Stone IPA,Stone Brewing,India Pale Ale
27,Victory Prima Pils,Victory Brewing Company,Pilsner
28,Wild Turkey,Wild Turkey Brewery,Lager
29,Jim Beam,Jim Beam Distillery,Lager
30,Jack Daniel's,Jack Daniel's Distillery,Lager
31,Maker's Mark,Maker's Mark Distillery,Lager
32,Bacardi,Bacardi Limited,Rum
33,Captain Morgan,Captain Morgan Distillery,Rum
34,Smirnoff,Smirnoff,Vodka
35,Absolut,Absolut Vodka,Vodka
36,Johnnie Walker,Johnnie Walker Distillery,Scotch
37,Jameson,Jameson Distillery,Irish Whiskey
38,Chivas Regal,Chivas Regal Distillery,Scotch
39,Baileys,Baileys Irish Cream,Liqueur
40,Jägermeister,Jägermeister Distillery,Herbal Liqueur